---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';
import FullPostforHome from '../components/FullPostforHome.astro';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const recentPosts = posts.slice(0, 8);
---

<BaseLayout description={siteConfig.description}>
    {
        (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-3xl">Recent Posts</h2>
                {recentPosts.map((post) => (
                    <FullPostforHome post={post} />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }
</BaseLayout>
